@model MoneyTrakr.Recurring

@{
    ViewBag.Title = "Delete";
}
<div class="page-header">
	<h2>Delete</h2>
</div>

	<h3>Are you sure you want to delete this?</h3>
	@using (Html.BeginForm()) {
		<div>
			<fieldset>
				<legend>Recurring</legend>
				<br />
            <div class="row">
                <div class="span2">@Html.LabelFor(model => model.Description)</div>
                <div class="span10">@Html.DisplayFor(model => model.Description)</div>
            </div>

            <div class="row">
                <div class="span2">@Html.LabelFor(model => model.Automatic)</div>
                <div class="span10">@Html.DisplayFor(model => model.Automatic)</div>
            </div>

            <div class="row">
                <div class="span2">@Html.LabelFor(model => model.StartDate)</div>
                <div class="span10">@Html.DisplayFor(model => model.StartDate)</div>
            </div>

            <div class="row">
                <div class="span2">@Html.LabelFor(model => model.Amount)</div>
                <div class="span10">@Html.DisplayFor(model => model.Amount)</div>
            </div>

            <div class="row">
                <div class="span2">@Html.LabelFor(model => model.RecurWeekly)</div>
                <div class="span10">@Html.DisplayFor(model => model.RecurWeekly)</div>
            </div>

            <div class="row">
                <div class="span2">@Html.LabelFor(model => model.RecurBiWeekly)</div>
                <div class="span10">@Html.DisplayFor(model => model.RecurBiWeekly)</div>
            </div>

            <div class="row">
                <div class="span2">@Html.LabelFor(model => model.RecurMontly)</div>
                <div class="span10">@Html.DisplayFor(model => model.RecurMontly)</div>
            </div>

			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="Delete" />
			</div>
		</fieldset>
		<br />
	</div>
	}
<div>
	@Html.ActionLink("Back to List", "Index")
</div>

